/* Your Custom CSS Goes here */
.font-arimo {
  font-family: "Arimo", sans-serif;
}

.my-table th,
.my-table td {
  padding: 2px 9px !important;
  font-size: .94rem;
}

.my-table th {
  font-weight: 700;
  color: #474a4e !important;
}

.my-table .col-total th,
.my-table .col-total td {
  padding: 9px 9px !important;
}

body {
  background-color: #E7ECF8 !important;
}

.app-header {
  background-color: #1D3D62 !important;
}

.size-icon-nav {
  font-size: 1rem !important;
  transform: translateY(2px);
}

.swal2-container,
.modal {
  z-index: 99999 !important;
}

.modal-backdrop {
  z-index: 99998 !important;
}

.my-scrollbar {
  overflow-y: auto;
  /* aktifkan scroll vertikal */
  scrollbar-width: thin;
  /* untuk Firefox */
  scrollbar-color: #bfbfbf #f5f5f5;
}

/* Chrome, Edge, Safari */
.my-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4e73df, #1cc88a);
  border-radius: 10px;
  border: 2px solid #f5f5f5;
  transition: background 0.3s ease;
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #375ac2, #17a673);
}

.forms-input {
  /* text-align: right; */
  padding: .25rem .5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f6f6f6;
}

.forms-input:focus {
  outline: none;
}

.forms-input.no {
  width: 8ch;
}
.forms-input.text {
  width: 34ch;
}
.forms-input.no-kontrak {
  width: 16ch;
}
.forms-input.dana {
  width: 10ch;
}
.forms-input.rupiah {
  width: 14.5ch;
}
.forms-input.tanggal {
  width: 14ch;
}

/* Mode gelap */
@media (prefers-color-scheme: dark) {
  .my-scrollbar::-webkit-scrollbar-track {
    background: #2c2c2c;
  }

  .my-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6a5acd, #20c997);
    border: 2px solid #2c2c2c;
  }
}
